<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Roslyn" value="D:\Projects\roslyn\Binaries\Debug\NuGet\PerBuildPreRelease" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>